

/PSSE_sim/result_data
/PSSE_sim/model_copies
/PSCAD_sim/result_data
/PSCAD_sim/model_copies
/PSCAD_sim/model_copies_sets
/Plots/DMAT
/Plots/GPS
/Plots/BENCH
/Plots/NetworkEvent
/Plots/PQ_curve
/Plots/steady_state